<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717649371853-6k74joptdh6nd39q7pl9573c51skslu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717649371853-6k74joptdh6nd39q7pl9573c51skslu2</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Nw5BCS7g-PFDY0Uic-QL2-kCNt2mjYk</string>
	<key>GCM_SENDER_ID</key>
	<string>717649371853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itboost.itboost</string>
	<key>PROJECT_ID</key>
	<string>flutter-android-e71fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-android-e71fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717649371853:ios:017b8292592dc0d4217f84</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-android-e71fe.firebaseio.com</string>
</dict>
</plist>